body{

margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
text-align:center;

}

header{

padding:60px 20px;
border-bottom:1px solid #222;

}

.logo{

width:220px;
margin-bottom:20px;

}

.subtitle{

color:#999;
letter-spacing:3px;

}

section{

padding:60px 20px;
max-width:900px;
margin:auto;

}

h2{

font-size:32px;
margin-bottom:30px;

}

.about p{

font-size:18px;
line-height:1.6;
color:#ddd;

}

.contacts{

background:#111;

}

.contact{

margin:30px;

}

a{

color:#ffd54a;
text-decoration:none;

}

footer{

padding:40px;
border-top:1px solid #222;
color:#aaa;

}
.role{
color:#ffd54a;
font-size:14px;
margin-top:-10px;
margin-bottom:10px;
letter-spacing:2px;
}

.instagram{
margin-bottom:30px;
font-size:18px;
}

.instagram a{
color:#ff4da6;
font-weight:bold;
text-decoration:none;
}